.main {
  padding: 20px;
  min-height: 100vh;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

.header-title {
  text-align: center;
  font-size: 22px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-container__logo {
  height: 50px;
}

.title {
  font-size: 17px;
  margin: 15px;
  font-weight: bold;
  text-align: center;
}

.use-input {
  margin-left: 20px;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

.day {
  margin-bottom: 10px;
}