.main {
  padding: 20px;
  min-height: 100vh;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

.header-title {
  text-align: center;
  font-size: 22px;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header-container__logo {
  height: 50px;
}

.title {
  font-size: 22px;
  margin: 25px;
  font-weight: bold;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

.day {
  margin-bottom: 10px;
}

.day-weight, .use-input {
  margin-left: 20px;
}

.today {
  text-align: center;
}

.today input {
  padding: 10px;
  width: 100px;
}

.day input {
  width: 80px;
}

.btn {
  padding: 2px 20px;
  margin: 0 10px;
  cursor: pointer;
  background: rgba(0,0,0,0);
  border: 1px solid #fff;
  color: #fff;
}