.main {
  padding: 20px;
  min-height: 100vh;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  height: 50px;
}

.title {
  font-size: 17px;
  margin: 15px;
  font-weight: bold;
  text-align: center;
}

.day {
  margin-bottom: 10px;
}